#game__list {
    margin: auto;
    margin-bottom: 1rem;
    width: 40%;
    padding: 1rem;
}

.gameForm {
    margin: auto;
    width: 50%;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn__games {
    width: 100%;
}